@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap");

body {
    background-color: #000;
    font-family: sans-serif;
    font-size: 15pt; /* 15pt / 22pt */
    transform: translate3d(0,0,0); /* Hack to disable drag scrolling in WebOS */
    overflow-x: hidden;
}
.content-center {
    max-width: 40em;
    margin: auto;
}
hr {
    width: 90%;
    height: 0;
    border: 0;
    margin: 2em auto;
    box-shadow: 0 0 1px 1px #fff, 0 0 1em 0.5em #731178;
}
hr:after {  /* https://css-tricks.com/examples/hrs/ */
    content: "\00a0"; /* Prevent margin collapse */
}
header > h1 {
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
    text-align: center;
    color: #000;
    font-size: 4em;
    text-shadow: 0 0 3px #d4ffff, 0 0 3px #d4ffff, 0 0 3px #d4ffff, 0 0 1em #0bb6be, 0 0 0.2em #0bb6be;
}

header > h1 > small {
    font-size: 20pt;
    text-shadow: 0 0px 2px white, 0 0px 2px white, 0 0 0.4em #731178, 0 2px 0.2em pink, 0 -3px 0.2em #aa0000;
}

article {
    line-height: 1.5;
    color: #c4f0fd;
    font-family: 'Cantarell', sans-serif;
}
article > p {
    text-align: justify;
    margin: 1em;
}

article a, article a:visited {
    color: #d653dd;
}

.slider-bar {
    width: 90%;
    height: 4em;
    margin: 2em auto;
    border: 1px solid #fff;
    position: relative;
    display: block;
    border-radius: 1em;

    box-shadow: 0 0 1px 1px #fff, 0 0 1em 0.5em #731178, inset 0 0 1em 0.5em #731178, inset 0 0 1px 1px #fff;
    /**/
}

/* Use pre-baked glow effect to improve perf on the TV itself */
/*			@media only screen and (width: 1920px) {
.slider-bar:before {
content: "";
background-image: url("./sliderbar.png");
position: absolute;
width: 1173px;
height: 240px;
background-repeat: no-repeat;
margin-top: -2em;
margin-left: -2em;
}
.slider-text {
background-image: url("./slidetoroot.png");
background-position: center;
background-repeat: no-repeat;
}
}*/
.slider-button {
    z-index: 1;
    display: block;
    border: 1px solid #fff;
    border-radius: 0.5em;
    margin: 0.4em;
    position: absolute;
    top: 0;
    box-sizing:border-box;
    left: 0%;
    width: 15%;
    height: 80%;
    text-align: center;

    box-shadow: 0 0 1px 1px #fff, 0 0 1em 0.2em #0bb6be, inset 0 0 1em 0.2em #0bb6be, inset 0 0 1px 1px #fff;
    /**/
}
.slider-button > p {
    cursor: grab;
    font-family: 'Orbitron', sans-serif;
    font-size: 3em;
    margin: 0;
    color: black;
    margin-top: -0.3em;

    text-shadow: 0 0 3px #d4ffff, 0 0 3px #d4ffff, 0 0 3px #d4ffff, 0 0 1em #0bb6be, 0 0 0.3em #0bb6be, 0 0 0.3em #0bb6be;
    /**/
}
.slider-text {
    margin: 0;
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
    font-family: 'Orbitron', sans-serif;
    font-size: 2.5em;
    color: black;

    text-shadow: 0 0 3px #d4ffff, 0 0 3px #d4ffff, 0 0 3px #d4ffff, 0 0 1em #0bb6be, 0 0 0.2em #0bb6be;
    /**/
    padding-top: 0.04em;
    padding-bottom: 0.12em;


    position: relative;
}
.slider-text:after {
    content: "slide to root";
    position: absolute;
    left: 0;
    text-shadow: none;
    width: 100%;

    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    background-image: linear-gradient(270deg, #000 0%, #11bbc2 15%, #000 30%, #000 100%);
    animation: Shine 3000s linear infinite;
    /**/
}

@keyframes Shine {
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 1000000px 0; /* FIXME: should be percentage, but that breaks it */
    }
}

#log {
    width: 100%;
    font-size: 0.7em;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/* mobile layout */
@media only screen and (max-width: 600px) {
	.slider-bar {
		display: none;
	}
	header > h1 {
		font-size: 12vw;
	}
}

@media (min-width: 1024px) {
    .content-center {
        max-width: 44em;
    }
}

#patched {
    color: red;
}

#patched > .code {
    font-family: monospace;
    background-color: #282828;
}

article a.deprecated-entry {
    width: auto;
    text-align: center;

    padding: 0.5em;
    border: 1px solid #c4f0fd;
    position: relative;
    display: block;
    border-radius: 0.5em;

    color: unset;
    box-shadow: 0 0 1px 1px #fff, 0 0 0.5em 0.1em rgba(11, 182, 191, 0.8), inset 0 0 0.5em 0.1em rgba(11, 182, 191, 0.8), inset 0 0 1px 1px #fff;

    font-size: 2em;
    text-decoration: none;
}

article a.deprecated-entry.primary {
    color: #ffe0ff;
    box-shadow: 0 0 1px 1px #fff, 0 0 0.5em 0.2em #731178, inset 0 0 0.5em 0.2em #731178, inset 0 0 1px 1px #fff;
}